* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url('./images/bg-2.jpg');
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-weight: bolder;
}

header,
form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  background-color: white;
  padding: 0.5rem;
  border: none;
  font-size: 1.25rem;
  outline: none;
  text-align: center;
}

form button {
  color: rgb(63, 7, 245);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: rgb(63, 7, 245);
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-list {
  list-style-type: none;
  min-width: 40%;
}
.todo {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  transition: all 0.3s ease;
}
.todo:hover {
  border-left: 5px solid rgb(92, 87, 87);
}
.list-item {
  flex: 1;
  padding: 0 1rem;
}
.complete-btn,
.trash-btn {
  color: white;
  background-color: orangered;
  padding: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  outline: none;
}

.complete-btn {
  background-color: teal;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.checked {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
}

select {
  width: 120px;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  color: rgb(255, 94, 0);
  font-weight: bold;
}

@media screen and (max-width: 468px) {
  form {
    display: flex;
    flex-direction: column;
  }
  .todo {
    font-size: 0.75rem;
  }
}
